* {
    box-sizing: border-box;
}

body{
    margin: 40px 0;
}
  
form{
    text-align: center;
}
  
h1{
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}

.inline {
    display: inline;
}

section {
    margin: 10px 0;
}